* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0.1rem;
  box-sizing: border-box;
  font-family: "Bahianita", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* start style header and nav */

.card-header {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.header__nav {
  background-color: #abaeb5;
  padding: 0.5rem;
}

.header__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__nav li {
  margin: 0 1rem;
}

.header__nav a {
  text-decoration: none;
  color: #090909;
  font-weight: bold;
}

.header__nav a:hover {
  color: rgba(151, 6, 6, 0.875);
}
/* end style header and nav */

/* start style main */
.card-main {
  display: flex;
  flex-direction: column;
}

/* end style main  */

/* start style hero */
.main-hero {
  height: 94vh;
  background-image: url("../img/pexels-sebastian-arie-voortman-411207.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  z-index: 1;
}
.hero__subtitle {
  text-align: center;
  z-index: 1;
}

.hero__subtitle::first-letter {
  color: rgb(180, 26, 26);
  font-size: 1.4rem;
}

.hero__action {
  border: none;
  font-size: 24px;
  color: rgb(17, 43, 148);
  padding: 32px 16px;
  background-color: #e7e7e7de;
}

.hero__border{
  position: relative;
  top: 97px;
  left: -138px;
  animation: mymove 3s;
  animation-timing-function: ease-in;
  background-color:aqua ;
  padding: 3rem;
}

/* for animation */
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 90px;
  }
}

/* end style hero */

/* start media Query */
@media screen and (max-width: 768px) {
  .header__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .main-hero {
    height: 78vh;
  }

  .hero__border{
    top: 145px;
    left: -120px;
  }
}
/* end media Query */
