  /* start style line  */
  .line-horiz{
    background-color: rgba(28, 34, 69, 0.546);
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* end style line  */

/* start style testimonials  */

.swiper__slide p,.review__title{
    text-align: center;
}

.swiper__container{
  width: 440px;
  height: 200px;
  overflow-x: scroll;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: none;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr ;
  grid-auto-rows: 60px;
  grid-gap: 50px;
  border: 1px solid;
  padding: 2rem;

}

.swiper__slide{
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
/* end style testimonials  */

/* start style news  */

.news-forms {
text-align: center;
margin-top: 1rem;

}

.news-title{
    text-align: center;
}

.email-input{
    border: none;
    border-radius: 3px;
    height: 2rem;
    width: 15rem;
    text-align: center;
    margin: 0.7rem;
}

.subscribe-button{
    border: none;
    font-size: 20px;
    padding: 12px 30px;
    background-color: #e7e7e7de;


}
/* end style news  */


